<%= form_with model: schedule, class: "col col-md-4 mx-auto" do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: "My new epic schedule" %>
    <%= f.label :title %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_area :description, class: "form-control", placeholder: "This is new schedule for new project" %>
    <%= f.label :description %>
  </div>
  <div class="row mx-1">
    <%= submit_tag "Add", class: "btn btn-primary" %>
    <%= link_to "Cancel", schedules_path, class: "btn btn-link" %>
  </div>
<% end %>
