<%= notice %>
<% @tasks.each do |task| %>
  <div class="form-check">
    <%= form_with model: task do |f| %>
      <%= f.check_box :state, { class: "form-check-input", data: { controller: "todos--tasks", "todos--tasks-target" => "state", action: "input->todos--tasks#updateState"} }, "completed", "started" %>
      <%= f.label :title, class: "form-check-label" do %>
        <%= task.title %>
      <% end %>

      <%= submit_tag %>
    <% end %>
  </div>
<% end %>
